.main-container .cust-card {
    background: var(--header-bg);
    border-radius: 16px;
    width: 100%;
    /* padding: 24px; */
    margin-top: 24px;
}

.main-container .cust-card.steak-only {
    padding: 16px;
    display: flex;
    align-items: center;
    background: #1f0c3c;
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.main-container .cust-card.steak-only .switch-span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #B8C5EC;
    margin-right: 10px;
}

.main-container .cust-card.steak-only .live-buttons {
    background: #16092B;
    border-radius: 12px;
    height: 48px;
    width: 193px;
    display: flex;
    padding: 4px;
}

.modal-backdrop {
    z-index: 1 !important;
}

.main-container .cust-card.steak-only .switch {
    margin-right: auto;
}

.main-container .cust-card.steak-only .live-buttons {
    margin-right: auto;
}

.main-container .cust-card.steak-only .live-buttons .btns-lf {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #B8C5EC;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-container .cust-card.steak-only .live-buttons .btns-lf.active {
    background: #630BF1;
    color: #080114;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-container .cust-card.steak-only select {
    margin-right: 15px;
}

.main-container .cust-card.steak-only .magnify {
    position: relative;
}

.main-container .cust-card.steak-only .magnify::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 10px;
    background-image: url('../images/magnify.svg');
    height: 20px;
    width: 20px;
    display: block;
    background-size: 100%;
}

.main-container .cust-card .blue-contain {
    height: 160px;
    background: rgba(33, 13, 66, 0.75);
    border-radius: 12px 12px 0px 0px;
}

.main-container .cust-card.contract .bnb {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.main-container .cust-card.contract .x-40 {
    border-radius: 16px;
    border-width: 1px;
    color: white !important;
    border-style: solid;
    border-image-source: linear-gradient(270deg, #F10088 0%, #630BF1 100%);
    border-image-slice: 1;
    padding: 4px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.main-container .cust-card.contract .main-two-logos {
    margin-top: 24px;
    padding: 0 16px;
}

.two-logos {
    margin-right: auto;
}

.content-one.first {
    padding-top: 32px;
}

.content-one {
    padding: 0 16px 0px 16px;
    align-items: center;
    margin-bottom: 5px;
}

.content-one span:nth-of-type(1) {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
    color: rgba(184, 197, 236, 0.65);
    margin-right: auto;
    /* height: 50px !important; */
}

.content-one span:nth-of-type(2) {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
    color: #FFFFFF;
    margin-right: 6px;
}

p.spin-earned {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #B8C5EC;
    margin-top: 32px;
    text-transform: uppercase;
    padding: 0 16px;
}

.harvest {
    margin-top: 8px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
}

.harvest span {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: rgba(184, 197, 236, 0.65);
}

.harvest button {
    background: rgba(33, 13, 66, 0.35);
    border-radius: 12px;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: rgba(184, 197, 236, 0.2);
}

.contract-btn, .contract-btn2 {
    border-radius: 5px;
    width: calc(100% - 32px);
    border: none !important;
    padding: 12px 12px !important;
    color: var(--white) !important;
    font-family: Nexa-Bold !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.6px !important;
    color: var(--white) !important;
    background: #630BF1;
    margin: 0 16px;
}

p.line {
    width: calc(100% - 32px);
    margin: 24px auto;
    border-bottom: 1px solid rgba(184, 197, 236, 0.2);
}

.hide-show {
    text-align: center;
    /* margin-bottom: 20px; */
}

.hide-show span {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    margin-right: 8px;
}

.inner-card {
    padding: 0 16px 16px 16px;
}

.inner-card span:first-of-type {
    font-family: Nexa-Bold;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #B8C5EC;
}

.inner-card span:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
    color: #B8C5EC;
}

.inner-card .links {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #1CDCC7;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-right: auto;
    border-bottom: 1px solid rgba(28, 220, 199, 0.5);
    width: 100%;
}

.inner-card .links.first, .inner-card img.link-open.first {
    margin-top: 18px;
    margin-bottom: 0;
}

.inner-card img.link-open {
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.hide-show.collapsed span:nth-of-type(1) {
    display: none;
}

.hide-show span:nth-of-type(1) {
    display: inline-block;
}

.hide-show.collapsed span:nth-of-type(2) {
    display: inline-block;
}

.hide-show span:nth-of-type(2) {
    display: none;
}

.hide-show.collapsed img {
    transform: rotate(180deg);
    transition: 0.3s all;
}

.contract-btn.loading {
    background: rgba(99, 11, 241, 0.3);
    color: #823CF1;
    transition: 0.3s all;
}

.contract-btn.loading img {
    margin-right: 10px;
    margin-bottom: 4px;
}

.harvest button.active {
    background: #630BF1;
    color: #FFFFFF;
    transition: 0.3s all;
}

.main-container .modal-content {
    background: #2c0e5c;
}

.main-container .modal-content .modal-header {
    margin: 0 14px 14px 14px;
    border-bottom: 2px solid rgba(184, 197, 236, 0.2);
}

.main-container .modal-header img {
    margin-left: auto;
    cursor: pointer;
}

.main-container .modal-header span {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: #FFFFFF;
}

.main-container .modal-body .inner-cust-card {
    padding: 16px;
    background: rgba(33, 13, 66, 0.75);
    border-radius: 12px;
    width: 100%;
}

.main-container .modal-body .card-heading {
    display: flex;
    justify-content: space-between;
}

.main-container .modal-body .card-heading span:nth-of-type(1) {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: rgba(184, 197, 236, 0.65);
}

.main-container .modal-body .card-heading span:nth-of-type(2) {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: rgba(184, 197, 236, 0.65);
}

.main-container .modal-body .card-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.main-container .modal-body .card-content span:nth-of-type(1) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.8px;
    color: #B8C5EC;
    margin-right: auto;
}

.main-container .modal-body .card-content span:nth-of-type(2) {
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #630BF1;
    padding: 8px 15px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-right: 8px;
    border-radius: 12px;
}

.main-container .modal-body .card-content span:nth-of-type(1) {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #B8C5EC;
}

.main-container .btn-contain {
    display: flex;
    margin-top: 30px;
}

.confirm {
    border-radius: 12px;
    width: calc(100% - 32px);
    border: none;
    padding: 12px 12px;
    color: var(--white);
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: var(--white);
    background: #630BF1;
}

.cancel {
    border-radius: 12px;
    width: calc(100% - 32px);
    border: none;
    padding: 12px 12px;
    color: var(--white);
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: var(--white);
    background: #16092B;
    border: 1px solid #630BF1;
    margin-right: 10px;
}

.max-button {
    border-radius: 12px;
    border: none;
    padding: 3px 12px;
    color: var(--white);
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: var(--white);
    background: #16092B;
    border: 1px solid #630BF1;
    margin: 0px 10px;
}

.loading-gif {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
}

.links-contain {
    display: flex;
    margin-top: 20px;
    /* margin-bottom: 40px; */
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.links-contain .links {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6px;
    color: #1CDCC7;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-right: auto;
    border-bottom: 1px solid rgba(28, 220, 199, 0.5);
    width: 100%;
    margin-right: 10px;
}

.confirm.loading {
    background: rgba(99, 11, 241, 0.3);
    color: #823CF1;
    transition: 0.3s all;
}

.confirm.loading img {
    margin-right: 10px;
}

.alert-span {
    font-family: Nexa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #FF3A30;
}

.last-show-hide.active {
    display: block;
}

.last-show-hide {
    display: none;
}

.harvest-show-hide {
    padding: 0 16px;
    flex-direction: column;
    margin-right: auto;
}

.harvest-show-hide span:nth-of-type(1) {
    font-size: 24px;
    line-height: 32px;
    color: rgba(184, 197, 236, 0.65);
    letter-spacing: -1px;
}

.harvest-show-hide span:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgba(184, 197, 236, 0.65);
}

.plus-minus-icon {
    margin-right: 20px;
    cursor: pointer;
}

.main-container {
    position: relative;
}

.main-container .cust-card.steak-only.mobile {
    display: none;
}

header select {
    background-color: #210D42;
    padding: 11px 14px 11px 44px;
}

header .wallet-icon {
    position: relative;
}

header .wallet-icon::before {
    content: '';
    position: absolute;
    top: -11px;
    left: 12px;
    display: block;
    background: url(../images/wallet-icon.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;

}

.stake-lp {
    display: none;
}

.contract-res {
    background-color: #630BF1 !important;
    width: 100% !important;
    margin-top: 70px !important;
}

@media screen and (max-width: 1024px) {
    .main-container .cust-card.steak-only input[type="text"] {
        width: 80px;
    }

    .contract-res {
        margin-top: 22px !important;
    }
}


@media screen and (max-width: 768px) {
    .main-container .cust-card.steak-only {
        display: none;
    }

    .mobile-margin {
        margin-top: 35px;
    }

    .contract-res {
        margin-top: 30px !important;
    }

    .main-container .cust-card.steak-only.mobile {
        border: none;
        display: block;
        position: absolute;
        top: -24px;
        width: 100%;
        height: 56px;
        left: 0;
        padding: 8px 15px;
        background: rgba(33, 13, 66, 0.35);
        backdrop-filter: blur(10px);
        border-radius: 0;
    }

    .main-container .cust-card.steak-only.mobile input[type="text"] {
        width: calc(100% - 55px);
        height: 40px;
    }

    .main-container .cust-card.steak-only .magnify::after {
        content: '';
        position: absolute;
        top: 0px;
    }

    .filter {
        margin-left: 10px;
    }
}